.btn {
  font-family: $font-family-bold;
  font-size: $font-size-18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $s-white;
  background-color: $s-blue;
  border: none;
  margin: 0;
  padding: 20px;
}
