.gallery {
  background-color: $s-white;
}

.gallery__intro {
  text-align: center;
  color: $s-text-black;
  padding: 40px 20px 30px 20px;
  text-transform: uppercase;
}

.gallery__title {
  font-family: $font-family-bold;
  font-size: $font-size-18px;
  margin: 0;
  margin-bottom: 30px;
}

.gallery__description {
  font-size: $font-size-root;
  line-height: $line-height-longer;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .gallery {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-bottom: 75px;
  }

  .gallery__intro {
    padding: 0;
    padding-top: 75px;
    padding-bottom: 75px;
    max-width: 440px;
    margin: 0 auto;

    .gallery__title {
      font-size: $font-size-30px;
    }
  }

  .gallery__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 60px;

    &:first-child {
      width: 100%;
    }

    :nth-child(odd) {
      .photo__info {
        background-color: $s-gray-wtf;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .gallery__intro {
    padding-top: 105px;
    max-width: 440px;
    margin: 0 auto;
  }

  .gallery__wrapper {
    :nth-child(odd) {
      .photo__info {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}
