.map {
  width: 320px;
  height: 350px;
  object-fit: contain;

  .map__img {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-shadow: none;
    width: 100%;
    background-image: url("../img/bg-map-mobile@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
