.presentation {
  display: flex;
  flex-direction: column;
}

.presentation__intro {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 35px;
  border-top: 1px solid $s-gray-darker;
  text-transform: uppercase;
  padding-top: 35px;
}

.presentation__title {
  font-size: $font-size-18px;
  font-family: $font-family-bold;
  color: $s-black;
  margin: 0 auto;
  margin-bottom: 25px;
  max-width: 80%;
}

.presentation__description {
  font-size: $font-size-root;
  line-height: $line-height-longer;
  margin: 0 auto;
  max-width: 80%;
}

@media (min-width: $tablet-width) {
  .presentation__intro {
    padding-top: 0;
    border: none;
    margin-bottom: 70px;
  }

  .presentation__title {
    font-size: $font-size-30px;
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .presentation {
    background-color: $s-white;
  }

  .presentation__title {
    margin-bottom: 25px;
  }
}
