.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .page-footer__tag {
    display: block;
    font-family: $font-family-bold;
    font-size: $font-size-21px;
    text-transform: uppercase;
    margin: 0;
    padding: 30px 0 40px 0;
  }

  .page-footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 25px;
    font-size: $font-size-14px;
    line-height: $line-height;
  }
}
