.page-footer {
  margin: 0 auto;

  .page-footer__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 35px 20px;
  }

  .page-footer__tag {
    display: block;
    font-family: $font-family-bold;
    font-size: $font-size-21px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 40px;
  }

  .page-footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-14px;
    line-height: $line-height;
    text-transform: uppercase;
    color: $s-text-black;
    margin: 0;
  }

  .page-footer__copyright-link {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    .page-footer__wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      padding: 60px 35px;

      .page-footer__tag {
        margin: 0;
      }

      .page-footer__copyright {
        margin: 0;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    max-width: 1200px;
    background-color: $s-white;

    .page-footer__wrapper {
      padding: 45px 110px 35px 110px;
    }
  }
}
