.promo {
  padding: 0;
  text-align: center;
  background-color: $s-blue;
  background-image: url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/bg-back-mobile@1x.jpg"),
    url("../img/bg-back-mobile@2x.jpg");
  background-repeat: no-repeat;
  background-position: 50% bottom;
  background-size: cover;

  &--full {
    min-height: 390px;

    .promo__wrapper {
      padding-top: 90px;
    }

    .promo__logo {
      width: 280px;
      height: 215px;
    }
  }

  &--cut {
    height: 160px;

    .promo__wrapper {
      padding-top: 50px;
    }

    .promo__logo {
      width: 230px;
      height: 40px;
    }
  }
}

@media (min-width: $tablet-width) {
  .promo {
    background-image: url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-desktop@1x.jpg"),
      url("../img/bg-back-desktop@2x.jpg");
    background-size: auto, 1200px 515px;

    &--full {
      min-height: 515px;

      .promo__wrapper {
        padding-top: 80px;
      }

      .promo__logo {
        width: 520px;
        height: 360px;
      }
    }

    &--cut {
      height: 290px;

      .promo__wrapper {
        padding-top: 95px;
      }

      .promo__logo {
        width: 460px;
        height: 80px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    &--full {
      .promo__wrapper {
        padding-top: 80px;
      }

      .promo__logo {
        width: 460px;
        height: 350px;
      }
    }

    &--cut {
      height: 300px;
    }
  }
}
