.reason {
  background-color: $s-white;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;

  &--blue {
    background-color: $s-blue;

    &:first-child {
      margin-top: -1px;
      background-image: url("../img/bg-triangle.svg");
      background-repeat: no-repeat;
      background-position: 50% top;
      background-size: auto;
      object-fit: cover;
      padding-top: 20px;

      .reason__title {
        margin-top: 20px;
      }
    }
  }

  &--gray {
    background-color: $s-gray;
    color: $s-text-black;
  }

  .reason__wrapper {
    padding-top: 45px;
    padding-bottom: 45px;

    &--gray {
      padding-top: 35px;
      padding-bottom: 3x5px;
      border-top: 1px solid $s-gray-darker;
    }
  }

  .reason__title {
    font-family: $font-family-bold;
    font-size: $font-size-18px;
    margin: 0;
    margin-right: 30px;
    margin-left: 30px;
  }

  .reason__number {
    font-size: $font-size-root;
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 30px;
    margin-left: 30px;
  }

  .reason__text {
    font-size: $font-size-root;
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 30px;
    margin-left: 30px;
  }

  .reason__photo {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    max-height: 260px;
  }
}

@media (min-width: $tablet-width) {
  .reason {
    &--blue {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      align-content: stretch;

      &:first-child {
        background-image: none;
        padding-top: 0;

        .reason__wrapper {
          max-width: 33%;
        }

        .reason__photo {
          max-height: none;
          justify-content: flex-end;
          overflow: hidden;
        }
      }
    }
  }
}
