.reasons {
  .reasons__wrapper {
    background-color: $s-white;
    text-align: center;
    margin: 0 auto;
  }

  .reasons__intro {
    margin: 0 auto;
    max-width: 560px;
    color: $s-text-black;
    padding: 45px 30px 35px 30px;
    text-transform: uppercase;

    .reasons__title {
      font-family: $font-family-bold;
      font-size: $font-size-18px;
      margin: 0;
    }

    .reasons__description {
      font-size: $font-size-root;
      margin-top: 40px;
      margin-bottom: 0;
    }
  }

  .reasons__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: $s-white;
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .reasons {
    display: flex;
    flex-direction: column;

    .reasons__list {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .reasons__intro {
      max-width: 560px;
    }
  }
}

// @media (min-width: $desktop-width) {
//   .reasons {
//     display: flex;
//     flex-direction: column;
//     max-width: 1200px;
//   }
// }
