.reason {
  background-color: $s-white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 0;

  &--blue {
    background-color: $s-blue;

    &:first-child {
      margin-top: -1px;
      background-image: url("../img/bg-triangle.svg");
      background-repeat: no-repeat;
      background-position: 50% top;
      background-size: 768px 35px;
    }

    .reason__title,
    .reason__number,
    .reason__text {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &--gray {
    background-color: $s-gray;
    color: $s-text-black;
    margin: 0;
  }

  .reason__wrapper {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .reason__title {
    font-family: $font-family-bold;
    font-size: $font-size-18px;
    line-height: $line-height-smaller;
    margin: 0;
    margin-bottom: 10px;
  }

  .reason__number {
    font-size: $font-size-root;
    margin: 0;
    margin-bottom: 20px;
  }

  .reason__text {
    font-size: $font-size-root;
    margin: 0;
  }

  .reason__title,
  .reason__number,
  .reason__text {
    padding-left: 40px;
    padding-right: 40px;
  }

  picture {
    display: flex;
    justify-content: center;
    max-height: 260px;
  }

  .reason__photo {
    margin: 0;
    padding: 0;
    background-color: $s-white;
  }
}

@media (min-width: $tablet-width) {
  .reason {
    justify-content: stretch;
    width: 100%;

    .reason__wrapper {
      display: flex;
      flex-direction: column;
      align-self: center;
      flex-grow: 1;
      padding: 0;
      max-height: 255px;
    }

    picture {
      margin: 0;
      padding: 0;
      max-width: 66.666%;
      max-height: none;
    }

    .reason__photo {
      overflow: hidden;
      background-size: cover;
      // max-height: none;
      // width: auto;
      height: auto;
    }

    .reason__list {
      justify-content: center;
    }

    .reason__title {
      font-family: $font-family-bold;
      font-size: $font-size-21px;
    }

    .reason__number {
      font-size: $font-size-root;
    }

    .reason__text {
      font-size: $font-size-root;
    }

    .reason__title,
    .reason__number,
    .reason__text {
      padding-left: 50px;
      padding-right: 50px;
    }

    &--blue {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: stretch;

      .reason__wrapper {
        max-width: 33.3%;
        flex-grow: 1;
        max-height: 255px;
      }

      &:first-child {
        background-image: none;
        padding-top: 0;
      }

      &:nth-child(2) {
        flex-direction: row-reverse;
      }

      .reason__title,
      .reason__number,
      .reason__text {
        padding-left: 50px;
        padding-right: 50px;
      }

      & picture {
        overflow: hidden;
        max-height: 265px;

        .reason_photo {
          object-fit: cover;
        }
      }
    }

    &--gray {
      background-color: $s-gray;
      align-content: stretch;
      flex-wrap: nowrap;
      max-width: 33.33%;

      .reason__wrapper {
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .reason {
    .reason__title,
    .reason__number,
    .reason__text {
      padding-left: 60px;
      padding-right: 60px;
    }

    &--blue {
      .reason__title,
      .reason__number,
      .reason__text {
        padding-left: 90px;
        padding-right: 90px;
      }
    }
  }
}
