.review {
  .review__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    color: $s-text-black;
    padding-bottom: 50px;
    padding-top: 40px;
  }

  .review__intro {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid $s-gray-darker;
  }

  .review__call {
    font-family: $font-family-bold;
    font-size: $font-size-18px;
    margin: 0;
  }

  .review__description {
    font-size: $font-size-root;
    line-height: $line-height-longer;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .review-btn__wrapper {
    display: flex;
    flex-direction: column;

    .review__btn {
      margin: 0;
      margin-left: 20px;
      margin-right: 20px;
      flex-grow: 1;
    }

    .review__legend {
      display: none;
      margin: 0 auto;
      margin-top: 20px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

@media (min-width: $tablet-width) {
  .review {
    .review__wrapper {
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 70px;
    }

    .review__intro {
      margin: 0 auto;
      max-width: 450px;
      border: 0;
      padding-bottom: 70px;
    }

    .review-btn__wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;

      .review__btn {
        margin: 0;
        width: 40%;
      }

      .review__legend {
        width: 50%;
        text-align: right;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .review {
    .review__wrapper {
      padding-left: 120px;
      padding-right: 120px;
      background-color: $s-white;
    }
  }
}
