.sublist {
  background-color: $s-white;
  color: $s-text-black;
  text-align: left;
  // padding-bottom: 45px;
  margin: 0;
  padding: 0;
  // width: 100%;
  padding-top: 25px;

  .sublist__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-bottom: 20px;
  }

  .sublist__caption {
    font-family: $font-family-bold;
    font-size: $font-size-18px;
  }

  // .sublist__wrapper {
  //   display: flex;
  //   align-items: center;

  //   padding-left: 70px;
  //   padding-right: 60px;
  // }

  .sublist__icon {
    fill: $s-blue;
    padding: 0;
    padding-left: 25px;
    margin-right: 10px;
  }

  .sublist__description {
    font-size: $font-size-root;
    padding: 0;
    padding-left: 70px;
    padding-right: 60px;
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .sublist {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }
}
