.video {
  .video__img {
    width: 100%;
    background-image: url(../img/presentation-mobile@1x.jpg);
    background-color: $s-blue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .video__player {
    display: block;
    width: 100%;
  }

  //   .progress {
  //     width: 100%;
  //     height: 45px;
  //     margin-left: 20px;
  //     margin-right: 20px;
  //     background-color: $s-gray-darkest;
  //     opacity: 0.6;
  .video__btns {
    width: 100%;
    background-color: $s-gray-darker;
    height: 65px;
  }
}
