.visually-hidden {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}

@media (min-width: $desktop-width) {
  body {
    background-color: $s-gray;
  }

  .page-main {
    max-width: 1200px;
    margin: 0 auto;
  }
}
